@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
Alexander Benns
</address>

<address>
    <strong>Creator:</strong> <a href="ajbenn04@louisville.edu">ajbenn04@louisville.edum</a>
</address>