@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movie Database</h1>
    <p class="lead">Welcome to Movie MVC</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Entries</h2>
        <p>
            This app can create entries for movies, that have a Title, Release Date, Genre, and Price.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Delete</h2>
        <p>This app can Delete entries for movies.</p>
    </div>
    <div class="col-md-4">
        <h2>Edit/View</h2>
        <p>This app can edit the entries for Title, Release Date, Genre, and Price of a movie. It can also view 
        the details of an entry.</p>
    </div>
    <div class="col-md-4">
        <h2>View other assignments</h2>
        <p>
            View other assignments at <a href="index.html">Original Index</a>
        </p>
    </div>
</div>